
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
  
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }
  
    body{
      background: url(https://app.textinchurch.com/assets/images/people/man_on_phone.png);
      background-repeat: no-repeat;
      background-color: var(--color-background);
      background-position: right;
    }
    
    :root{
        --primary-color: #48a0dc;
        --hover-color: #1a97eb;
        --color-background: #f6f6f9;
        --color-light: rgba(132, 139, 200, 0.18);
        --box-shadow:  12px 13px 13px -6px rgba(166,166,166,1);
        --color-primary-variant: #004071;
        --color-paragraph: rgb(161, 161, 161);
    }
  
    /* Largura da barra de rolagem */
  ::-webkit-scrollbar {
      width: 10px;
  }
  
  /* Fundo da barra de rolagem */
  ::-webkit-scrollbar-track-piece {
      background: var(--color-background);
      border-left: 1px solid var(--color-background);
  }
  
  /* Cor do indicador de rolagem */
  ::-webkit-scrollbar-thumb:vertical,
  ::-webkit-scrollbar-thumb:horizontal {
      background: var(--color-paragraph);
  }
  
    /* HEADER AND SELECT BUTTON */
    
    .selector-image{
        /* config */
        margin: 0 auto;
        width: 100%;
        height: 5rem;
        justify-content: center;
        align-items: center;
    
        /* style */
        background: var(--color-primary-variant);
        text-align: center;
    }
    
    .selector-image button{
        /* config */
        margin-top: 1rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
    
        /* style */
        background: var(--primary-color);
        color: #fff;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
    }
    
    .selector-image button:hover{
        /* style */
        background: var(--hover-color);
        transition: 1s;
    }
    
    .selector-image button i{
        /* style  */
        font-size: 1rem;
    }
    
    /* SELECT OPTIONS */
    
    .selector-image select{
        /* config */
        margin-top: 1rem;
        padding: 1rem 2rem;
    
        /* style */
        background: #cddc39;
        color: #fff;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
    }
    
    .selector-image option{
        /* style */
        background: var(--color-primary-variant);
        transition: 1s;
    }
    
    /* BUTTON SEND */ 
    
    .selector-image button#enviar,.modal-footer button{
        /* config */
        margin-top: 1rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
    
        /* style */
        background: #697ad8;
        color: #fff;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
    }
    
    .selector-image button#enviar:hover,.modal-footer button{
        /* style */
        background: #5264c6;
        transition: 1s;
    }
    
    .selector-image button#enviar i{
        /* style  */
        font-size: 1rem;
    }
  
    .selector-image button#download-btn{
  
        /* config */
        margin-top: 1rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
    
        /* style */
        background: #48c54c;
        color: #fff;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
    }
    
    .selector-image button#download-btn:hover{
        /* style */
        background: #3c9f40;
        transition: 1s;
    
    }
    
  /* MODAL CONFIGS */
  
  .option-banner{
      margin: 5px auto;
      box-shadow: var(--box-shadow);
  }
  
  .option-banner img{
      border-radius: 5px;
  }
  
  .option-banner:hover{
      box-shadow: none;
  }
  
  .option-banner img:hover{
      border: 2px solid var(--primary-color);
      box-shadow: none;
  
  }
  
  ul li {
      display: inline-block;
      justify-content: space-around;
      margin-left: 2rem;
      
  }
  
  
    .selector-image button#enviar,.modal-footer button{
        /* config */
        margin-top: 1rem;
        padding: 1rem 2rem;
            text-transform: uppercase;
    
        /* style */
        background: #697ad8;
        color: #fff;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
    }
    
    .selector-image button#enviar:hover,.modal-footer button{
        /* style */
        background: #5264c6;
        transition: 1s;
    }
  
    /* CONFIGS EMAIL */
    
    
    .container{
        width: 534px; 
        display: block; 
        margin: 0 auto; 
        background-color: #fff;
        
     }
     
    
    .img-header,.how-agend {
        width: 534px;
        text-align: center;
        justify-content: center;
        align-items: center;
  
      }
    
     .name-welcome p, .explication p, .how-agend p {
            margin-top: 1rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
    
    h2{
      text-align: center;
        color: var(--primary-color);
        font-weight: bolder;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 18px;
    }
    
        .name-welcome, .explication, .how-agend {
            color: var(--color-paragraph);
            margin-top: 1rem;
            width: 520px;
        }
    
     
      .btn{
        align-items: center;
        justify-content: center;
        text-align: center;
    
      }
    
      .contatos{
        background: var(--primary-color);
        padding: 10px 0px;
        text-align: center;
        border-radius: 40px;
        display: block;
        margin: 10px auto 10px;
      }
      
      .contatos img{
        justify-content: space-between;
        width:130px;
        height:120px; 
      }
    
    
      .contatos a{
        text-decoration: none;
      }
    
     .footer-contatos{
        /* estilization */
        background: var(--primary-color);
        text-align: center;
        /* configuration */
        padding: 10px 0px;
        margin: 50px 0px 0px;
        width: 100%;
        margin-bottom: 1rem;
     }
    
     .footer-contatos p, .footer-contatos h2{
        color: #fff;
     }
  
