
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

 
    body {
    
       background-color: #f6f5f5;
       margin: 0px;
       padding: 0px;
       font-family: 'Poppins', sans-serif;
       background: url("");
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       
    }
    
    
       section {
    
    width: 100%;
    color: #fff;
      }
    
    
      input {
         background: none;
         border: none;
         overflow: hidden;
         padding: 5px 50px;
         border-bottom: 1px solid #003067;
         color: #003067;
         display: flex;
         text-align: left;
         
      
      }
      
      ::placeholder {
      
          text-align: left;
          color: #8a8a8a;
         
      
      }
      
    
      .styleset {
    
       text-align: left;
       align-items: left;
       color: #858585;
       padding: 15px;   
         
      }
    
    
    
      .box {
    
            width: 80%;
            height: 180px;
            margin: 50px 10%;
            border:1px solid #858585;
            overflow: hidden;
             
      }
    
      .box input {
    
      align-items: center;
      margin: auto;
    
      }
    
      .message {
    
       text-align: center;
       color: #003067;
       font-size: 18px;
       padding: 3px;
    
      }
    
      select {
    
         border: 1px solid #fff;
         border-radius: 12px;
         text-align: center;
         background: none;
         font-size: 15px;
         color: #003067;
         padding: 2px;
      
      }
    
      .respost {
    
         text-align: center;
         font-size: 22px;
         color: rgb(16, 16, 16);
    
      }
      :root {
        --primary-color: #004f9e;
        --second-color: #3caae0;
        --color-paragraph: rgb(112, 110, 110);;
    }

 .container{
    width: 500px; 
    display: block; 
    margin-top: 3rem;
    margin: 0 auto; 
    background-color: #fff;
 }

.img-header-logo{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

    }


.how-agend {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        z-index: 1;
    }

  .name-welcome, .explication, .how-agend {
        margin-top: 1rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }


    .name-welcome h2, .how-agend h2, .explication h2{
        color: var(--primary-color);
        font-weight: bolder;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 18px;
    }

    .name-welcome p, .explication p, .how-agend p {
        color: var(--color-paragraph);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


  .btn{
    align-items: center;
    justify-content: center;
    text-align: center;

  }
 
.contatos{
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background: #000;
}

.numbers-contatos{
  text-align: center;
}

.numbers-contatos a{
  text-decoration: none;
}

.numbers-contatos img{
  text-decoration: none;
  margin-top: 50px;

}

.numbers-contatos img#separador{
  text-decoration: none;
  position: relative;
  top: -50px;
  margin-left: 25px;
  margin-right: 25px;
}

.footer-contatos{
  padding: 15px 0px;
  width: 500px;
  display: block;
  margin: 0 auto;
  background: #e4e4e4;

}

.footer-config{
  padding: 0px 70px;
}

.footer-config-2{
  display: block;
  margin: 0 auto;
  text-align: center;
}